@use "../variables" as *;

.pomodoro-container {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	height: 100%;
	color: var(--text-normal);
	container-type: inline-size;
	width: 100%;
}

.pomodoro-wrapper {
	max-width: 300px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.pomodoro-clock-container {
	position: relative;
	margin: 0 auto;
	width: clamp(120px, 80cqw, 250px);
	aspect-ratio: 1;
}

.pomodoro-clock-svg {
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
}

.pomodoro-clock-lines {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
